@import "./assets//icons/scss/fontawesome.scss";
* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

body {
  display: flex;
  justify-content: flex-start;
  min-height: 800px;
}

.landing-container {
  min-height: 100vh;
  width: 50%;
  min-width: 450px;
  // border: 1px solid black;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  main {
    width: 80%;
    h1 {
      font-size: 33px;
      font-weight: bold;
      object-fit: contain;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      background: linear-gradient(to right, #121e6c 10%, #ee424e 35%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .landingText {
      padding-right: 20%;
      letter-spacing: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      color: #111e6c;
      font-size: 17px;
      b {
        font-weight: 600;
      }
    }
    .landingSocial {
      .linkSection {
        border-bottom: 2px solid #121e6c;
        .title {
          color: grey;
        }
        .linkArea {
          padding-top: 10px;
          margin-bottom: 40px;
          .link {
            font-weight: 600;
            font-size: 20px;
            color: #111e6c;
          }
          .button {
            float: right;
            color: white;
            height: 54px;
            width: 104px;
            font-weight: 600;
            background-color: #ef434e;
            border-radius: 55px;
            border: none;
          }
        }
      }
      .social-buttons {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        button {
          padding: 5px;
          color: white;
          min-width: 100px;
          border: none;
        }
      }
    }
  }
}

.leaderscore {
  min-height: 100vh;
  // max-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-width: 450px;

  background-image: linear-gradient(to bottom right, #ef434e 1%, #111e6c 80%);
  .container {
    width: 90%;
    display: flex;
    flex-direction: column;
    .my-position-section {
      //
      .score {
        // text-align: right;
        float: right;
        text-align: center;
        padding: 20px;
        color: white;
        border: none;
        background-color: #ef434e;
        border-radius: 37px;
        width: 180px;
        font-size: 17px;
        span {
          font-weight: bolder;
        }
      }
    }
    .top-people {
      margin-top: 20px;
      height: 250px;
      width: 100%;
      // background-color: green;
      // font-size: 10px;
      display: flex;
      justify-content: space-around;
      .leader {
        min-width: 200px;
        text-align: center;
        align-self: flex-end;
        .circle {
          background-color: white;
          width: 60px;
          height: 60px;
          margin: auto;
          border-radius: 50%;
          display: flex;
          align-self: center;
          align-items: center;
          justify-content: center;
          img {
            position: relative;
            top: 0px;
            left: 0px;
            width: 80%;
            z-index: 50;
          }
        }
        .position-number {
          width: 20px;
          height: 20px;
          position: relative;
          z-index: 100;
          margin: auto;
          margin-top: -10px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          color: white;
          background-color: red;
          &-flag {
            display: none;
          }
        }

        .email-text {
          color: white;
          max-width: 80%;
          word-break: break-all;
          margin: auto;
        }
      }
      .leader:nth-child(even) {
        align-self: flex-start;
        .circle {
          width: 80px;
          height: 80px;
        }
        .position-number {
          width: 30px;
          height: 30px;
          position: relative;
          z-index: 110;
          // margin-left: 75px;
          margin-top: -15px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          color: white;
          background-color: red;
          &-flag {
            position: relative;
            margin-top: -40px;
            justify-content: center;
            align-items: center;
            z-index: 9;
            display: block;
          }
        }
      }
    }
    .people-list-section {
      margin-top: 20px;
      width: 100%;
      .header {
        width: 100%;
        border: 1px solid white;
        border-radius: 20px;
        padding-left: 10px;
        padding-right: 10px;
        color: white;
        display: flex;
        justify-content: space-between;
      }
      .people {
        margin-top: 20px;
        width: 100%;
        height: 300px;
        overflow: auto;
        .person {
          // width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-left: 10px;
          padding-right: 10px;
          border-radius: 20px;
          background-color: white;
          min-height: 50px;
          margin-top: 10px;
          margin-bottom: 10px;

          .position {
            width: 20px;
            height: 20px;
            display: flex;
            color: white;
            justify-content: center;
            background-color: red;
            padding: 10px;
            border-radius: 50%;
          }
          .score {
            padding: 10px;
          }
        }
        .person-showmore {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-left: 10px;
          padding-right: 10px;
          border-radius: 20px;
          min-height: 30px;
          border: 1px solid white;
          color: white;
          margin-bottom: 10px;
          visibility: hidden;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  body {
    flex-wrap: wrap;
  }
  .landing-container {
    width: 100%;
    // padding-top: 100px;
  }
  .leaderscore {
    width: 100%;
    .container {
      .my-position-section {
        display: flex;
        justify-content: center;
        .score {
          float: unset;
        }
      }
      .people-list-section {
        .people {
          .person-showmore {
            visibility: visible;
          }
        }
      }
    }
  }
}
@media screen and(max-width: 1220px) {
  .leaderscore {
    .container {
      margin-top: 20px;
      .top-people {
        .leader {
          min-width: 150px;
        }
      }
    }
  }
}
